body{
    background-color: lightgrey;
    margin: 0;
}

.menu{
    top: 0;
    display: inline-block;
    position: fixed;
    height: 40px;
    padding: 0;
    margin: auto;
    border-bottom: solid black 2px;
}

#mainMenu{
    width: 50%;
    background-color: darkorange;
}

#rightMenu{
    width: 50%;
    background-color: darkorange;
    right: 0;
}
#rightMenu li{
    float: right;
    border-left: solid black 2px;
}

.menu li{
    right: 0;
    font-size: 28px;
    text-align: center;
    height: 40px;
    margin-right: -4px;
    list-style-type: none;
    display: inline-block;
    width: 120px;
    background-color: orange;
    color: black;
    border-right: solid black 2px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:visited{
    color: black;
}

.menu a:hover{
    color: white;
}

/*input[type=text]{
    top: 10px;
    width: 150px;
    height: 20px;
    position: fixed;
    margin: auto;
}*/
