body{
    background-image: linear-gradient(to bottom right, #666699 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.form-inline .btn{
    background-color: dodgerblue;
}
.navbar .navbar-brand{
    color: dodgerblue;
}
.container{
    margin-top:80px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 770px) {
    .container{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

#itemField{
    background: linear-gradient(to bottom right, #666699 50%, #336699 100%)
}

.border{
    border: 1px solid black!important;
}

.img-thumbnail{
    background-color: black;
    border: 1px solid black;
}