body{
    background-image: linear-gradient(to bottom right, #666699 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.form-inline .btn{
    background-color: dodgerblue;
}
#loginRegContainer{
    background-color: skyblue;
    width: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    #loginRegContainer{
        width: 350px;
    }
}
.navbar .navbar-brand{
    color: dodgerblue;
}